<h2 class="font-gamma">Here are your amazing favorite signs</h2>

<section class="container-index">
  <div class="backdrop-index">
    <img src="https://images.unsplash.com/photo-1530569673472-307dc017a82d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" class="backdrop-index-img" alt="BG">
  </div>

  <p class="search__text text-para--medium">Here are your amazing favorite signs</p>
  <div class="signs-container">
    <div class="signs-grid">
      <% @bookmarks.each do |bookmark| %>
        <% if bookmark.sign.video.attached? %>
          <div class="sign-card--index">
            <%# <%= link_to sign_path(bookmark.sign), class: "sign-card-link" do %>
            <h1 class="animated">
            <% if bookmark.sign.title.length > 9 %>
              <span class="animated__text"><%=bookmark.sign.title %></span>
            <% else %>
              <%=bookmark.sign.title %>
            <% end %>
            </h1>

              <div class="form-bookmark">
                <% if !@signs.empty? %>
                  <%= simple_form_for(bookmark, url: bookmark_path(bookmark), method: :delete) do |f| %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :sign_id, value: bookmark.sign.id %>
                    <%= image_submit_tag("heart.png", class: 'sign-liked', alt: 'submit') %>
                  <% end %>
                  <% else %>
                  <%= image_tag "empty_heart.png", class: "sign-liked" %>
                <% end %>
              </div>


              <div class="sign__infos">
                <p class="sign-description text-para--light"><%=bookmark.sign.description %></p>
              </div>
              <div class="video-sign-container">
                <%= cl_video_tag(bookmark.sign.video.key, :controls=>false, :autoplay=>false, :loop=>true, :muted=>true, :width=>220, :height=>150, class:"video")%>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
