<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top sticky">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "signup_logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li>
          <%= link_to root_path do %>
            <button class="btn-link focus-tab", id="home-tab", onclick="updateFocus(this)">HOME</button>
          <% end %>
        </li>
        <li>
          <%= link_to "dashboard" do %>
            <button class="btn-link", id="dashboard-tab", onclick="updateFocus(this)">DASHBOARD</button>
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
            <button class="btn-link", id="lists-tab", onclick="updateFocus(this)">MY LISTS</button>
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
            <button class="btn-link", id="favorites-tab", onclick="updateFocus(this)">MY FAVORITES</button>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "user-icon-normal.png", class: "avatar-bordered dropdown-toggle user-avatar ", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "New Sign", new_sign_path, class: "dropdown-item" %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%# <a class="dropdown-item" data-method="delete" href="/users/sign_out" rel="nofollow">Log out</a> %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
