<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top sticky">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "signup-logo.svg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%# <li>
          <%# <%= link_to root_path do %>
            <%# <button class="btn-link focus-tab", id="home-tab", onclick="updateFocus(this)">HOME</button> %>
          <%# <% end %>
        <%# </li>
        <li> %>
          <%# <%= link_to overview_path do %>
            <%# <button class="btn-link", id="dashboard-tab", onclick="updateFocus(this)">DASHBOARD</button> %>
          <%# <% end %>
        <%# </li>
        <li> %>
          <%# <%= link_to root_path do %>
            <%# <button class="btn-link", id="lists-tab", onclick="updateFocus(this)">LISTS</button> %>
          <%# <% end %>
        <%# </li>
        <li> %>
          <%# <%= link_to bookmarks_path do %>
            <%# <button class="btn-link", id="favorites-tab", onclick="updateFocus(this)">FAVORITES</button> %>

          <%# <% end %>
        <%# </li>
        <li> %>
          <%# <%= link_to categories_path do %>
            <%# <button class="btn-link", id="categories-tab", onclick="updateFocus(this)">CATEGORIES</button> %>
          <%# <% end %>
        <%# </li> %>
        <li class="<%= is_active?(root_path)%>">
          <%= link_to "Home", root_path, class: "btn-link"  %>
            <%# <button class="btn-link focus-tab", id="home-tab", onclick="updateFocus(this)">HOME</button> %>
        </li>
        <li class="<%= is_active?(overview_path)%>">
         <%= link_to "Dashboard", overview_path, class: "btn-link"  %>
          <%# <%= link_to "dashboard" do %>
            <%# <button class="btn-link", id="dashboard-tab", onclick="updateFocus(this)">DASHBOARD</button> %>
          <%# <% end %>
        </li>
        <li class="<%= is_active?(bookmarks_path)%>">
         <%= link_to "Favorites", bookmarks_path, class: "btn-link"  %>
          <%# <%= link_to root_path do %>
            <%# <button class="btn-link", id="lists-tab", onclick="updateFocus(this)">MY LISTS</button> %>
          <%# <% end %>
        </li>
        <li class="<%= is_active?(new_sign_path)%>">
        <%= link_to "Create", new_sign_path, class: "btn-link"  %>
          <%# <%= link_to root_path do %>
            <%# <button class="btn-link", id="favorites-tab", onclick="updateFocus(this)">MY FAVORITES</button> %>
          <%# <% end %>
        </li>
  <%# Hide Searchbar on Homepage %>
  <% unless controller_name == "pages" && action_name = "home" %>
    <li>
      <%# <div data-controller="dropdown">
        <span class="dropmic" data-dropmic="1" role="navigation" data-dropdown-target="dropdowns"     >
          <button data-dropmic-btn class="flag-image" ><img src="https://cdn-icons-png.flaticon.com/512/3013/3013911.png" id="chosen_flag" width="25" height="25"></button>
          <div class="dropmic-menu" aria-hidden="true">
            <li class="dropmic-menu__listItem" role="menuitem">
              <button class="dropmic-menu__listContent" value="ua" onclick="updateLangFlag(this.value)" tabindex="-1"><img id="ua-img" src="https://cdn-icons-png.flaticon.com/512/3013/3013911.png" width="25" height="25"> American English</button>
              <button class="dropmic-menu__listContent" value="ge" onclick="updateLangFlag(this.value)" tabindex="-1"><img id="ge-img" src="https://cdn-icons-png.flaticon.com/512/321/321233.png" width="25" height="25"> German</button>
              <button class="dropmic-menu__listContent" value="fr" onclick="updateLangFlag(this.value)" tabindex="-1"><img id="fr-img" src="https://cdn-icons-png.flaticon.com/512/330/330490.png" width="25" height="25"> French</button>
            </li>
          </div>
        </span>
      </div> %>
      <%= form_tag signs_path, class: "searchbar", id: "searchbar", method: :get, html: { data: {search_signs_target: 'form'}} do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search"
          %>
        <button type="submit" class="search-button">
          <%= image_tag "search.png", class: "flag-image" %>
        </button>
      <% end %>
    </li>
  <% end  %>

        <li class="nav-item dropdown">
          <%= image_tag "user-icon.svg", class: "avatar-bordered dropdown-toggle user-avatar ", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "All Signs", signs_path, class: "dropdown-item" %>
            <%= link_to "New Sign", new_sign_path, class: "dropdown-item" %>
            <%= link_to "Categories", categories_path, class: "dropdown-item" %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%# <a class="dropdown-item" data-method="delete" href="/users/sign_out" rel="nofollow">Log out</a> %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
