<p>There are <%=@signs.count %> results for your search</p>

<div class="flex-container">
  <div class="signs-grid">
    <% @signs.each do |sign| %>
      <%= link_to sign_path(sign), class: "sign-card-link" do %>
        <div class="sign-card">
          <% if sign.video.attached? %>
            <h1 class="sign-title"><%=sign.title %> </h1>
              <p class="sign-description"><%=sign.description %></p>
              <div class="video-sign-container">
                <%= cl_video_tag(sign.video.key, :controls=>true, :autoplay=>true, :loop=>true, :muted=>true, :width=>400, :height=>200, class:"video")%>
              </div>
           <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
