<p>There are <%=@signs.count %> results for your search</p>
<h1 class="font-alpha">Heading</h1>
<h2 class="font-beta">Heading</h2>
<h3 class="font-delta">Heading</h3>
<h4 class="font-gamma">Heading</h3>

<div class="flex-container">
  <div class="signs-grid">
    <% @signs.each do |sign| %>
      <%= link_to sign_path(sign), class: "sign-card-link" do %>
        <div class="sign-card">
          <% if sign.video.attached? %>
            <h1 class="sign-title"><%=sign.title %> </h1>
              <p class="sign-description"><%=sign.description %></p>
            <%= cl_video_tag(sign.video.key, :controls=>true, :autoplay=>true, :loop=>true, :muted=>true, :width=>300, class:"video")%>
           <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
