<%# signup/views/signs/new.html.erb %>

<h1>Upload a new Sign</h1>

<%= simple_form_for(@sign) do |f| %>
 <%= f.input :title %>
 <%= f.input :description %>
 <%= f.association :category %>


<%# <script charset="utf-8">
  (async () => {
    const startBtn = document.querySelector('#start');
    const stopBtn = document.querySelector('#stop');
    const liveVideo = document.querySelector('#live');
    const playbackVideo = document.querySelector('#playback');

    const stream = await navigator.mediaDevices.getUserMedia({ audio: true, video: true });
    liveVideo.srcObject = stream;

    const recorder = new MediaRecorder(stream);
    const chunks = [];
    recorder.ondataavailable = (e) => {
      chunks.push(e.data);
    }

    startBtn.addEventListener('click', function(e) {
      e.preventDefault();
      // Start recording
      recorder.start();
    });

    stopBtn.addEventListener('click', function(e) {
      e.preventDefault();
      // Stop recording
      recorder.stop();

      setTimeout(() => {
        playbackVideo.src = window.URL.createObjectURL(chunks[0]);
        playbackVideo.play();
        console.log(playbackVideo)
      }, 500);
    });
  })();
</script> %>

 <%= f.input :video, as: :file %>
 <%= f.submit "Create Sign" %>
<% end %>

  <h2>Record your own Sign</h2>
    <button id="start">Start</button>
    <button id="stop">Stop and save</button>
  <div>
    <video id="live" height="200" width="300" style="border: 1px solid black" autoplay muted></video>
  </div>
  <div>
    <video id="playback" height="200" width="300" style="border: 1px solid black" controls></video>
  </div>
