<!-- app/views/articles/show.html.erb -->
<h1><%= @sign.title %></h1>
<p><%= @sign.description %></p>

<%= link_to "Update", edit_sign_path(@sign) %>
<%= link_to "Delete", sign_path(@sign), method: :delete, data: { confirm: "Do you really want to say bye bye?" } %>
<%= cl_video_tag(@sign.video.key, :controls=>false, :autoplay=>true, :loop=>true, :muted=>true, :width=>300, class:"video")%>
