<!-- app/views/signs/show.html.erb -->
<section class="container-show">
<div class="head-container-show">
    <% if @sign.language == "german"%>
      <%= image_tag "deutschland.png", class: "flag-container flag-image"%>
    <% elsif @sign.language == "english" %>
      <%= image_tag "usa.png", class: "flag-container flag-image" %>
    <% elsif @sign.language == "french" %>
      <%= image_tag "france.png", class: "flag-container flag-image" %>
    <% elsif @sign.language == "swedish" %>
      <%= image_tag "sweden.png", class: "flag-container flag-image"%>
    <% end %>
  <h1 class="font-alpha show__title "><%= @sign.title %></h1>
</div>

    <div class="sign-card--show">
      <div class="tag tag--video">
        <% if @sign.video.attached? %>
          <%= cl_video_tag(@sign.video.key, :controls=>false, :autoplay=>true, :loop=>true, :muted=>true, :width=>480, :height=> 300,class:"video video--show")%>
        <% end %>
      </div>
      <div class="tag tag--description">
        <div class="sign__texts">
          <h3 class="sign__example font-gamma">Description</h3>
          <p class="text-para--medium"><%= @sign.description %></p>
          <h2 class="sign__example font-gamma">Category</h2>
          <%= @sign.category.title %>
          <div class="sign-buttons sign-buttons-2">
            <% if policy(@sign).edit? %>
              <%= link_to "Update", edit_sign_path(@sign), class:"btn create_video_button text-para--medium", id:"save" %>
            <% end %>
            <% if policy(@sign).destroy? %>
              <%= link_to "Delete", sign_path(@sign), class:"btn text-para--medium", method: :delete, data: { confirm: "Do you really want to say bye bye?" } %>
            <% end %>
            <div class="form-bookmark bookmark-sign">
                <% if !@sign.bookmarks.empty? %>
                    <%= simple_form_for(@sign.bookmarks[0], url: bookmark_path(@sign.bookmarks[0]), method: :delete) do |f| %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.hidden_field :sign_id, value: @sign.id %>
                      <%= image_submit_tag("heart.png", class: 'sign-liked', alt: 'submit') %>
                    <% end %>
                <% else %>
                  <%= simple_form_for(@bookmark) do |f| %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :sign_id, value: @sign.id %>
                    <%= image_submit_tag("empty_heart.png", class: 'sign-liked heart-like', alt: 'submit') %>
                  <% end %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
      <%# <div class="tag tag--controllers">
        <div class="sign__extras">
        </div>
      </div> %>
    </div>
</section>
