<section class="container-dashboard">
    <h1 class="font-alpha dashboard__title ">Hi,&nbsp;<%= @current_user.username %>!</h1>
    <div class="sign-card--dashboard">
      <div class="tag2 tag--video">
        <h2 class="dashboard__video font-gamma">Your lastest sign</h2>
        <%# <%= @current_user.signs.each do |sign| %>
            <%# <p class="sign-name"><%= sign.title %>
            <%# </p> %>
        <%# <% end %>
      </div>
      <div class="tag2 tag--description">
        <div class="dashboard__texts">
          <h3 class="sign__display font-gamma">Your lists</h3>
          <%# <% @lists.each do |list| %>
            <%# <ul>
              <%# <li class="list-name"><%= list.name %></li>
            <%# </ul>
          <% end %>
        </div>
      </div>
      <div class="tag2 tag--controllers">
      <h3></h3>
        <div class="sign-buttons">
          <%= link_to "New Sign", new_sign_path, class: "dashboard-button btn--normal" %>
        </div>
      </div>
    </div>
</section>
