<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script>
    function updateFocus(newButton) {
        // enlever style focus sur tous les boutons
        let myButtons = document.querySelectorAll(".btn-link")
        myButtons.forEach(button => {
          button.classList.remove('focus-tab')
        });
        // mettre focus sur le bouton clicked
        newButton.classList.add('focus-tab')
    console.log(myButtons)
        // get route
        console.log(document.URL)
        // enlever focus
        // mettre focus sur le bon bouton qui correspond à la route
    }

    </script>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
